@media (prefers-color-scheme: dark) {
  html {
    background-color: #2a2a2a;
    scrollbar-color: #aaa #333;
  }

  h1 > a#location {
    color: #e09200;
  }

  .export-btn {
    background-color: #333333;
    color: #FFFFFF;
  }

  .export-btn.export {
    background-color: #485FC7;
  }

  .export-btn.export-as {
    background-color: #FEE08A;
    color: black;
  }

  .export-btn.copy, .export-btn.export-all {
    background-color: #3F8ECF;
  }

  .table-container {
    background-color: #1e1e1e;
  }

  .netscape-table th, td {
    border: solid 1px #424242;
  }

  .netscape-table tbody tr:nth-of-type(2n+1) {
    background-color: #2a2a2a;
  }
}